@model ModernMarketResearch.Areas.Admin.Models.ViewModel.ReportVM
@{

}
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

@*<script type="text/javascript">
    var x = {};
    $(document).ready(function () {
        x = $("#ReportId");
        ValidateInput(x);
    });
    function ValidateInput() {
        if (x.val() != '') {
            $('#btnsubmit').attr('disabled', false);
        }
        else {
            $('#btnsubmit').attr('disabled', true);
        }
    }
</script>

<script type="text/javascript">
    $(function () {
        $("#ReportId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetReports", "Report")',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'ReportKey': request.term
                    },
                    success: function (data) {

                        response(data);
                    },
                    error: function (err) {

                        console.log(err);
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                debugger;
                $("#ReportId").val(ui.item.label);
                //window.location = "/report/" + ui.item.value;
            }
        });
    });
</script>*@

@using (Html.BeginForm("SearchedReports", "Report", FormMethod.Get, new { @id = "form" }))
{
    <div class="search-cont">
        <div class="row">
            <div>
                <div class="col-xs-12 col-md-8 col-md-offset-2" style="padding-top:50px;">
                    <h1>World’s Best Collection For Market Research Reports</h1>
                    <div class="input-group">
                        @*  <input type="hidden" name="search_param" value="all" id="search_param" />*@
                        @*<input name="ctl00$ContentPlaceHolder1$txtSearch" type="text" id="ctl00_ContentPlaceHolder1_txtSearch" class="form-control" placeholder="Search term..." autocomplete="off">*@
                        <input name="searchkey" type="text" id="ReportId" class="form-control"  placeholder="Search ..." onkeyup="ValidateInput()" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-search" id="btnsubmit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            @*  <a id="ctl00_ContentPlaceHolder1_LinkButton1" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></a>*@
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

